@model IEnumerable<ControlInventario.Models.Products>

@{
    ViewBag.Title = "Index";
}


<p>
    <a href="@Url.Action("Create","Products")" class="btn btn-primary btn-sm btn-icon-split">
        <span class="icon text-white-50"> <i class="fas fa-plus"></i> </span>
        <span class="text">Nuevo Pruducto</span>
    </a>
</p>
<table class="table table-sm" id="myProducts">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("ProductBySupplier","Products",new { supplierId=item.SupplirId})">@item.Supplier.SupplierName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Products", new { id = item.Id })" class="btn btn-warning btn-circle"> <i class="fas fa-edit"></i></a>
                    <a href="@Url.Action("Details", "Products", new { id = item.Id })" class="btn btn-info btn-circle"> <i class="fas fa-info-circle"></i></a>
                    <a href="@Url.Action("Delete", "Products", new { id = item.Id })" class="btn btn-danger btn-circle"> <i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }

    </tbody>

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>$(document).ready(function () {
            $('#myProducts').DataTable();
        });</script>
}

